@{
    ViewBag.Title  = "فكره المشروع";
}
<label></label>
<label></label>
<h2 style="direction:rtl">@ViewBag.Title.</h2>

<label></label>
<label></label>
 <p style="font-size:17px;direction:rtl">   ظهر في الأونة االأخيرة كثير من المشكلات في منظومة إستخراج المستندات والاوراق الحكومية </p>
<label></label>
 <p style="font-size:17px;direction:rtl">   بعض من هذه المشكالت نتيجة زيادة الطلب و اخرى نتيجة العوامل البشرية واخرى بسبب بطئ العملية </p>
<label></label>
  <p style="font-size:17px;direction:rtl">  و من هنا اتت الينا هذه الفكرة لحل هذه المشاكل وشرحها فيما يلي</p>
<label></label>
  <p style="font-size:17px;direction:rtl">  تتلخص فكرة المشروع في كيفية استخراج الاوراق والمستندات الرسمية في أسرع وقت وبأسهل طريقة ممكنة </p>
    
