@{
    ViewBag.Title = "QuestionPage";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>


    <div class="rating">
        <hr size="35" width="100%" style="color:black" />

        <div>

            <p dir="rtl" style="margin:10px 100px 25px 810px;color:darkred"><b>هل ترغب فى عمل اى اجراء اخر؟</b></p>
            <form style="margin:0px 100px 25px 1000px" dir="rtl">
                <p>
                    <input type="button" style="grid-row-sizing:auto" class="btn btn-info" onclick="window.location='Msal7page'" name="samuel" value="نعم" />
                    <label></label>
                    <label></label>
                    <label></label>
                    <input type="button" class="btn btn-info" onclick="window.location='Index'" name="nour" value="لا" />
                    <label></label>
                </p>

            </form>
        </div>
    </div>



</body>
</html>
