@{
    ViewBag.Title = "Requestspage";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin:50px 20px 50px 25px">
        <p dir="rtl"><b>الرقم القومي</b></p>

        <label dir="rtl" id="rqmqwmy" type="text" style="margin:0pc 200px 25px 750px;color:dimgrey;width:300px">@{Html.RenderAction("RQ", "Home");}</label>

        <p dir="rtl"><b>الأسم</b></p>

        <label dir="rtl" id="esm" type="text" style="margin:0pc 200px 25px 750px;color:dimgrey;width:300px">@{Html.RenderAction("Name", "Home");} </label>

        <p dir="rtl"><b>تاريخ الميلاد</b></p>

        <label dir="rtl" id="tare5" type="date" style="margin:0pc 200px 25px 750px;color:dimgrey;width:300px">@{Html.RenderAction("TM", "Home");}</label>

        <p dir="rtl"><b>محل الميلاد</b></p>

        <label dir="rtl" id="m7l" type="text" style="margin:0pc 200px 25px 750px;color:dimgrey;width:300px">@{Html.RenderAction("MM", "Home");}</label>

        <p dir="rtl"><b>أسم الأم</b></p>

        <label dir="rtl" id="esmelom" type="text" style="margin:0pc 200px 25px 750px;color:dimgrey;width:300px">@{Html.RenderAction("MN", "Home");}</label>

        <p dir="rtl"><b>الديانة</b></p>

        <label dir="rtl" id="dyana" type="text" style="margin:0pc 200px 25px 750px;color:dimgrey;width:300px">@{Html.RenderAction("RE", "Home");}</label>

        <p dir="rtl"><b>عدد النسخ</b></p>


        @using (Html.BeginForm("save_requests", "Home"))
        {
            <input dir="ltr" id="copies" type="number" name="numberofcopies" style="margin:0px 100px 25px 1000px;width:50px;color:dimgrey" />
            <label></label>
            <p dir="rtl" style="margin-top:-30px"><b>رقم المحمول</b></p>
            <input dir="ltr" id="PhoneNumber" type="number" name="ThePhoneNumber" style="margin:0px 100px 25px 900px;color:dimgrey;width:150px" />


            <button id="ta2ked" name="ta2ked" style="margin:15px 100px 50px 980px" type="submit" class="btn btn-primary">تاكيد</button>



        }
    </div>

</body>
</html>
