
@{
    ViewBag.Title = "logpage";
}

@model IEnumerable<RasberryPiFinalProject.Models.Msale7>


     
<body>

    <div class="jumbotron" style="margin-top:-17px;margin-bottom:50px;margin-left:-105px;margin-right:-104px">
        @*Write on the jumbotron header and paragraph and customizing size and font*@
        <h1 style="font-size:90px;color:white    ;margin-top:-8px;font-family:Aldhabi" class="text-center"><b>فى خدمتك </b></h1>
        <h1 style="margin-left:430px;font-size:25px;margin-top:-20px;margin-bottom:20px;color:#9feb0d">
            وفر وقتك
            وأنجز ورقك
        </h1>
        <label></label>
        <label></label>
        <label></label>
        <label></label>
        <

    </div>
    <div style="margin:20px 20px 50px 25px">

        <label id="Errormsg" type="text" style="color:red;margin-left:885px;margin-bottom:15px">
            @{Html.RenderAction("erromsg", "Home");}

        </label>



        @using (Html.BeginForm("Create", "Home"))
            {

            <p dir="rtl" style="color:black"><b>الرقم القومى</b>.</p>
                <input dir="ltr" name="name" type="text" style="margin:0px 100px 25px 900px" />
                <p dir="rtl" style="color:black"><b>كلمة السـر</b>.</p>
                <input dir="ltr" style="margin:0px 100px 25px 900px" name="password" type="password" />
                <input style="margin:15px 100px 20px 980px" type="submit" class="btn btn-primary" value="تسجيل الدخول" />

        }
    </div>
    </body>
    @*El goz2 da 3shan lma yrg3 back button myrg3sh*@



    @*<script type="text/javascript" language="javascript">
        function DisableBackButton() {
        window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }

                </script>**@
    @*</div>



        </body>

        </html>*@
